<<<<<<< HEAD
.registro form{
    max-width: 400px;
    margin: 0 auto;
    }
    .registro input,
    .registro textarea{
=======
.form form{
    max-width: 400px;
    margin: 0 auto;
    }
    .form input,
    .form textarea{
>>>>>>> da31533... Initialize
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    }
<<<<<<< HEAD
    .registro label{
    display: block;
    margin-top: 24px;
    }
    textarea{
    height: 120px;
    }
    .registro button{
=======
    .form label{
    display: block;
    margin-top: 24px;
    }
    .form button{
>>>>>>> da31533... Initialize
    margin-top: 20px;
    background: crimson;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    }
    
    body{
        background-color: cyan;
    }

    h1{
    text-align: center;
<<<<<<< HEAD
    }
=======
    }

    h3{
        text-align: center;
        }
>>>>>>> da31533... Initialize
